@(user: User)

<!DOCTYPE html>

<html>
  <head>
    <title>FishNet</title>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/homeApp.js")" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" type="text/css">
  </head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/home">FishNet</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Event feed<span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@user.firstName @user.lastName<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="">@user.email</a></li>
              <li class="divider"></li>
              <li><a href="@routes.LoginController.logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body ng-app="fishNet" ng-controller="HomeCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <a href="#" data-toggle="modal" data-target="#showEventModal"
             id="eventbutton">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
        </div>
      </div>
    </div>
  </body>

  <div class="modal fade" id="showEventModal" tabindex="-1" role="dialog"
       aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h1 class="modal-title" id="label">Create event</h1>
        </div>

        <div class="modal-body">
          <form ng-submit="addEvent()">
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     placeholder="Title"
                     ng-model="title"
                     required>
            </div>

            <div class="form-group">
              <input type="text"
                     class="form-control"
                     placeholder="Location"
                     ng-model="location">
            </div>

            <div class="form-group">
              <textarea class="form-control"
                        placeholder="Description"
                        ng-model="description"></textarea>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="start-time">Start time</label>
                  <input type="datetime-local"
                         class="form-control"
                         ng-model="startTime"
                         id="start-time"
                         required>
                </div>

                <div class="col-md-6">
                  <label for="end-time">End time</label>
                  <input type="datetime-local"
                         class="form-control"
                         ng-model="endTime"
                         id="end-time"
                         required>
                </div>
              </div>
            </div>

            <div class="form-group" style="margin-bottom:0px;">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="isPublic"> Public event?
                </label>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addEvent()">Add event</button>
        </div>
      </div>
    </div>
  </div>
</html>
