@(user: User, profileUser: User, json: String)

<!DOCTYPE html>

<html>
  <head>
    <title>@profileUser.firstName @profileUser.lastName</title>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="@routes.Assets.at("javascripts/profileApp.js")" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://i.icomoon.io/public/temp/637a3865f1/UntitledProject/style.css">
  </head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/home">FishNet</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/home">Event feed</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@user.firstName @user.lastName<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/profile?user=@user.id">@user.email</a></li>
              <li class="divider"></li>
              <li><a href="@routes.LoginController.logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body ng-app="fishNet" ng-controller="ProfileCtrl" ng-init="init('@json')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="jumbotron text-center">
            <h1>@profileUser.firstName @profileUser.lastName</h1>
          </div>

          <div ng-show="friendStatus=='FRIENDS'">
            <button class="btn btn-success">
              Friends
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </div>

          <div ng-show="friendStatus=='NOT_FRIENDS' && '@profileUser.id' != '@user.id'">
            <button class="btn btn-primary" ng-click="addFriend('@profileUser.id')">
              Add friend
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>

          <div ng-show="friendStatus=='REQUEST_SENT'">
            <button class="btn btn-primary">
              Pending friend request
              <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </button>
          </div>

          <div class="dropdown" ng-show="friendStatus=='REQUEST_RECEIVED'">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              Friend request received
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="acceptRequest('@profileUser.id')">Accept</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="declineRequest('@profileUser.id')">Decline</a></li>
            </ul>
          </div>

          <div ng-show="friendStatus=='REQUEST_DECLINED'">
            <button class="btn btn-danger">
              Rejected friend request
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <h1>Events Hosting</h1>
          </div><br>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div ng-repeat="eventHosting in eventsHosting | orderBy:'startTime'">
              <div class="panel panel-primary">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{eventHosting.id}}" aria-expanded="false" aria-controls="{{eventHosting.id}}">
                  <div class="panel-heading" role="tab" id="EventHosting">
                      <h2 class="panel-title">
                          {{eventHosting.title}}
                      </h2>
                  </div>
                </a>
                <div id="{{eventHosting.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{eventHosting.id}}">
                  <div class="panel-body">
                    <div class="list-group">
                       <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                           Description
                        </h4>
                        <p class="list-group-item-text">
                           {{eventHosting.description}}
                        </p>
                       </a>
                       <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                           Time
                        </h4>
                        <p class="list-group-item-text">
                           {{eventHosting.startTimeDisplay}} to {{eventHosting.endTime}}
                        </p>
                       </a>
                       <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                           Location
                        </h4>
                        <p class="list-group-item-text">
                           {{eventHosting.location}}
                        </p>
                       </a>
                    </div>
                  </div>
                </div>
              </div></br></br>
            </div>
            <div ng-hide="eventsHosting.length"> <div align= "center"><b>No events  <span class="icon-sad2"></span></b></div></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="text-center">
            <h1>Events Attending</h1>
          </div><br>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div ng-repeat="eventAttending in eventsAttending | orderBy:'startTime'">
              <div class="panel panel-primary">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{eventAttending.id}}" aria-expanded="false" aria-controls="{{eventAttending.id}}">
                  <div class="panel-heading" role="tab" id="EventHosting">
                      <h2 class="panel-title">
                          {{eventAttending.title}}
                      </h2>
                  </div>
                </a>
                <div id="{{eventAttending.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{eventAttending.id}}">
                  <div class="panel-body">
                    <div class="list-group">
                       <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                           Description
                        </h4>
                        <p class="list-group-item-text">
                           {{eventAttending.description}}
                        </p>
                       </a>
                       <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                           Time
                        </h4>
                        <p class="list-group-item-text">
                           {{eventAttending.startTimeDisplay}} to {{eventAttending.endTime}}
                        </p>
                       </a>
                       <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                           Location
                        </h4>
                        <p class="list-group-item-text">
                           {{eventAttending.location}}
                        </p>
                       </a>
                    </div>
                  </div>
                </div>
              </div></br></br>
            </div>
            <div ng-hide="eventsAttending.length"><div align= "center"><b>No events  <span class="icon-sad2"></span></b></div></div>
          </div>
        </div>
      </div>
    </div>

  </body>
